@use "@styles/breakpoint";
@use "@styles/space";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: space.$s6;

  /* reset list styles */
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: breakpoint.$desktop) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18.75rem;
}

.loader {
  height: space.$s16;
  width: space.$s16;
  animation: loader 0.8s linear infinite;
}

// Animation
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
