@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.button {
  cursor: pointer;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  display: flex;
  align-items: center;
  gap: space.$s2;

  &.error {
    color: color.$error-700;
  }

  // font-weight
  &.semibold {
    font: font.$text-sm-medium;
  }

  // icon
  img,
  svg {
    order: 1;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
