@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.checkbox {
  position: relative;

  .input[type="checkbox"] {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  .label {
    position: relative;
    cursor: pointer;

    &.small {
      font: font.$text-sm-medium;
      padding-left: space.$s6;

      &::before {
        border-radius: 0.25rem;
        width: space.$s4;
        height: space.$s4;
      }

      &::after {
        top: calc(((1rem + 0.1rem) - 0.75rem) / 2);
        left: calc(((1rem + 0.1rem) - 0.75rem) / 2);
        width: 0.75rem;
        height: 0.75rem;
        background-size: 0.75rem;
      }
    }

    &.medium {
      font: font.$text-md-medium;
      padding-left: space.$s8;

      &::before {
        border-radius: 0.375rem;
        width: space.$s5;
        height: space.$s5;
      }

      &::after {
        top: calc(((1.25rem + 0.1rem) - 0.875rem) / 2);
        left: calc(((1.25rem + 0.1rem) - 0.875rem) / 2);
        width: 0.875rem;
        height: 0.875rem;
      }
    }

    &.noLabel {
      &.small {
        padding-left: space.$s4;
      }

      &.medium {
        padding-left: space.$s5;
      }
    }
  }

  .input[type="checkbox"]:not(:checked),
  .input[type="checkbox"]:checked {
    + .label::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid color.$gray-300;
      background-color: #fff;
      transition:
        border-color 0.3s ease,
        background-color 0.3s ease;
    }

    &:focus + .label::before {
      box-shadow: 0 0 0 4px color.$primary-100;
    }
  }
}
