@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  padding-bottom: 0.5rem;
}

.label {
  font: font.$text-sm-medium;
  color: color.$gray-700;
  margin-bottom: 0.375rem;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid color.$primary-300;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
  color: color.$gray-500;
  font: font.$text-md-regular;
  cursor: default;
  padding-block: 0.625rem;
  padding-inline: 0.875rem;
  margin-bottom: 0.38rem;

  // images
  .image {
    width: 1.25rem;
    height: 1.25rem;

    &.arrow {
      margin-left: auto;
    }
  }

  &.filled {
    color: color.$gray-900;
  }

  &.disabled {
    background-color: color.$gray-50;
    border-color: color.$gray-300;
    color: color.$gray-500;
  }

  &.disabled:focus {
    box-shadow: none;
  }

  &.error {
    border-color: color.$error-300;
  }

  &.error:focus {
    box-shadow:
      0 0 0 4px color.$error-100,
      0 1px 2px 0 rgb(16 24 40 / 5%);
  }

  &:focus {
    box-shadow:
      0 0 0 4px color.$primary-100,
      0 1px 2px 0 rgb(16 24 40 / 5%);
    outline: none;
  }
}

.selectOption {
  display: none;
  border-radius: 0.5rem;
  list-style: none;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.25rem 0 0.5rem;

  li {
    position: relative;
    padding-block: 0.625rem;
    padding-inline: 0.875rem;
    font: font.$text-md-regular;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: color.$primary-25;

      &::before {
        opacity: 1;
      }
    }

    &.selected::before {
      content: "";
      position: absolute;
      background-image: url("/icons/check.svg");
      width: 1.25rem;
      height: 1.25rem;
      top: 0.625rem;
      right: 0.875rem;
    }
  }

  &.showOption {
    position: absolute;
    display: block;
    top: calc(2.75rem + 1.25rem + 0.375rem); // select height label + margin
    background-color: #fff;
    box-shadow:
      0 4px 6px -2px rgb(16 24 40 / 5%),
      0 12px 16px -4px rgb(16 24 40 / 10%);
    z-index: 2;
  }
}

.hint {
  color: color.$gray-500;
  font: font.$text-sm-regular;
}

.errorMessage {
  color: color.$error-500;
  font: font.$text-sm-regular;
}
